
body {
    background: linear-gradient(to bottom, #64f006, #e7eb07);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.imagem {
    width: 300px; /* Largura maior para aumentar a escala da imagem */
    margin-bottom: 20px; /* Espaço entre a imagem e a caixa */
}

.caixa {
    background: rgba(255, 255, 255, 0.7); /* Cor de fundo com transparência */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.botao {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.botao-entrada {
    background-color: #4CAF50;
}

.botao-saida {
    background-color: #FF5722;
}

.registros {
    text-align: left;
    margin-top: 20px;
}

.registro {
    margin-bottom: 10px;
}
